/*------------------------------------------------------------------

  * Template Nam: Nitsiakos
  * Template UR:  https://sazzad362.com/
  * Description:  This template for my quick start HTML Project
  * Author:       Md Sazzad Hossain
  * Author URI:   https://sazzad362.com/
  * Version:      1.0.0
  * Last update:  25-10-2018

 * -----------------------------------------------------------------*
 *                         TABLE OF CONTENTS                        *
 * -----------------------------------------------------------------*
 *
	00. Plugins;
	01. base;
	02. Header;
	03. Nav;
	04. Footer;
 *

 * -----------------------------------------------------------------*
 *                        Color Codes                               *
 * -----------------------------------------------------------------*

	$brand_color: #ff5252;

-------------------------------------------------------------------*/
/*
	=================================
		@Loaded All Plugins
		@Sazzad362
	=================================
*/
/* 
 * Embed Google Font
 * font-family: 'Literata', serif;
 * font-family: 'Open Sans', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Literata:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* 
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
@import url("../css/bootstrap.min.css");
/* 
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/
@import url("../css/font-awesome.min.css");
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
@import url("../css/owl.carousel.min.css");
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Copyright (c) 2018 Daniel Eden
 */
@import url("../css/animate.css");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#slider_area {
  background: #F24817;
  height: 100vh;
  color: #fff;
}
#slider_area .slider_img_block {
  width: 100%;
  background: url("../images/slider-left-img.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
#slider_area .slider-title {
  font-family: 'Literata', serif;
  margin-bottom: 20px;
}
#slider_area .slider-title h2 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 2.2rem;
}
#slider_area .slider-title h2 span {
  font-size: 2rem;
  display: block;
  line-height: 1.5;
}
#slider_area .slider-title h2 span:last-child {
  margin-left: 50px;
  line-height: 2;
}
#slider_area a {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Literata', serif;
}
#slider_area .slider_content_block {
  transform: translateX(-165px);
}
#slider_area .slider-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#feature_area {
  padding: 150px 0 150px;
  background: url("../images/feature_bg.png") no-repeat #eeeeee;
  background-size: 65%;
  background-position: center center;
  text-align: center;
}
#feature_area .feature_content_area {
  border: 8px solid #D8001A;
  padding: 20px 0 30px;
}
#feature_area .sub_title {
  color: #D8001A;
  font-weight: 300;
  font-size: 25px;
}
#feature_area .feature_title {
  font-size: 95px;
  font-weight: 700;
  line-height: 1;
  font-family: 'Literata', serif;
  color: #E33300;
  border-bottom: 5px solid #D8001A;
  padding-bottom: 30px;
}
#feature_area .feature_content {
  padding: 30px;
  font-size: 16px;
  font-family: 'Literata', serif;
}
#feature_area .feature_content p {
  color: #58210A;
}
#feature_area .feature_link {
  padding-top: 20px;
  text-align: right;
}
#feature_area .feature_link a {
  color: #D8001A;
  font-size: 18px;
  font-family: 'Literata', serif;
  font-weight: 700;
}
#feature_area .feature_footer .feature_footer_sub_title {
  color: #D8001A;
  font-weight: 700;
  font-family: 'Literata', serif;
}
#feature_area .feature_footer .feature_footer_sub_title {
  text-align: right;
  padding-right: 250px;
  position: relative;
  margin-bottom: 12px;
}
#feature_area .feature_footer .feature_footer_sub_title:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 5px;
  width: 234px;
  background: #D8001A;
}
#feature_area .feature_footer .feature_footer_sub_title:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 5px;
  width: 500px;
  background: #D8001A;
}
#feature_area .feature_footer ul li {
  background: transparent;
  color: #D8001A;
  text-align: left;
  border-right: 1px solid red !important;
  padding: 0 45px;
}
#feature_area .feature_footer ul li .gram_value {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  font-family: 'Literata', serif;
}
#feature_area .feature_footer ul li .gram_value span {
  font-size: 25px;
  line-height: 1;
  margin-left: 4px;
}
#feature_area .feature_footer ul li p {
  font-size: 25px;
  line-height: 1.4;
  margin-left: 4px;
  font-weight: 700;
}
#feature_area .feature_footer ul li:last-child {
  border-right: 0 !important;
}
#feature_area .murgi_image {
  position: absolute;
  bottom: 0;
  left: 0;
}
#feature_area .murgi_image img {
  max-width: 500px;
  width: 100%;
  transform: translate(-101px, 92px);
}
#feature_area .feature_cir {
  position: absolute;
  left: 400px;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
