#slider_area {
  background: #F24817;
  color: #fff;
  text-align: center; }
  #slider_area .slider_img_block {
    width: 100%;
    background: url("../images/slider-left-img.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center; }
  #slider_area .slider_content_block {
    padding: 40px 0; }
  #slider_area .slider-title {
    font-family: 'Literata', serif;
    margin-bottom: 20px; }
    #slider_area .slider-title h2 {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 2.2rem; }
      #slider_area .slider-title h2 span {
        font-size: 2rem;
        display: block;
        line-height: 1.5; }
        #slider_area .slider-title h2 span:last-child {
          line-height: 2; }
  #slider_area a {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Literata', serif; }
  #slider_area .slider-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5; }

.slider_area_page .slider_content_block {
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  transform: translateX(0%) !important; }

.slider_area_page .slider-title h2 {
  line-height: 3.2rem !important; }

.slider_area_page .slider_qun li {
  border: 8px solid #fff;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 30px; }
  .slider_area_page .slider_qun li:last-child {
    margin-bottom: 0; }
  .slider_area_page .slider_qun li h2 {
    font-size: 45px;
    font-weight: 700;
    font-family: 'Literata', serif; }
  .slider_area_page .slider_qun li p {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Literata', serif; }

.slider_area_page .slider_content {
  padding-bottom: 20px; }

.slider_area_page .slider_btn {
  border: 8px solid #fff;
  margin-top: 20px;
  padding: 20px; }
  .slider_area_page .slider_btn a {
    margin: 0 !important; }

.article_page {
  display: none; }

@media (min-width: 768px) {
  #slider_area {
    text-align: left; }
  .slider_area_page {
    padding-bottom: 40px;
    text-align: center !important; }
    .slider_area_page .slider_qun li {
      min-width: 200px; }
      .slider_area_page .slider_qun li:last-child {
        margin-bottom: 20px; }
    .slider_area_page .slider_content_block {
      padding-bottom: 0 !important; }
    .slider_area_page .slider_btn {
      display: inline-block; } }

@media (min-width: 992px) {
  #slider_area {
    height: 100vh; }
    #slider_area .slider_content_block {
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%); }
    #slider_area .slider-title {
      font-family: 'Literata', serif;
      margin-bottom: 20px; }
      #slider_area .slider-title h2 span:last-child {
        margin-left: 50px; }
  .slider_area_page {
    height: unset !important;
    padding-top: 200px !important; }
    .slider_area_page .slider-title {
      text-align: left; }
    .slider_area_page .slider_sub_title {
      margin-left: 50px;
      display: inline-block; }
    .slider_area_page span {
      margin: 0 !important;
      display: inline-block !important; }
    .slider_area_page .slider_qun,
    .slider_area_page .slider_content,
    .slider_area_page .slider_btn_area {
      margin-top: 50px; }
    .slider_area_page .slider_btn img {
      margin-right: 20px; } }

@media (min-width: 1200px) {
  .slider_area_page .slider_qun {
    text-align: left; }
    .slider_area_page .slider_qun ul {
      text-align: center;
      display: inline-block !important; }
      .slider_area_page .slider_qun ul li {
        margin: 0 40px 0 0 !important;
        float: left; }
        .slider_area_page .slider_qun ul li:last-child {
          margin: 0 !important; } }
