
#article_content{
	padding: 40px 0;
	background: #EEEEEE;
	.article_author{
		.article_author_top{		
			img{
				max-width: 100px;
				margin-right: 20px;
			}
			.auth_name{
				font-size: 16px;
				font-weight: 700;
				font-family: 'Literata', serif;
				color: #AD1515;
			}
			.auth_cat{
				font-size: 18px;
				font-weight: 700;
				font-family: 'Literata', serif;
				color: #434343;
			}
		}
		.article_author_top,
		.article_author_middle{
			border: 8px solid #D8001A;				
		}
		.article_author_middle{
			border-top: 0;
			ul{
				width: 100%;
				text-align: center;
				li{
					padding-top: 20px;
					padding-bottom: 20px;
					color: #D8001A;
					border-bottom: 8px solid #D8001A;
					&:last-child{
						border-bottom: 0;
					}
					p{
						margin: 10px 0 !important;
						font-weight: 700;
						font-family: 'Literata', serif;
					}
				}
			}
		}

		.article_author_footer{
			padding: 20px 0;
			p{
				color: #E33300;
				font-weight: 700;
				margin-top: 10px !important;
				font-family: 'Literata', serif;
			}
		}
	}

	.article_content_area{
		border: 8px solid #D8001A;

		.article_content_left{
			background: #FFF8E2;
			padding: 20px;
		}

		.article_content_left_header h2,
		.article_content_left_content_title{
			color: #D8001A;
			font-weight: 700;
			font-family: 'Literata', serif;
		}
		.article_content_left_header h2{
			font-size: 40px;
		}
		.article_content_left_content{
			line-height: 2;
			position: relative;
			.borde_link{
				background: #D8001A;
				color: #fff;
				font-family: 'Literata', serif;
				font-weight: 700;
				padding: 5px 15px 8px 15px;
			    border-radius: 20px;
			    text-decoration: none;
			    position: absolute;
			    right: 50%;
			    font-size: 15px;
			    width: 100%;
			    transform: translateX(50%);
			    text-align: center;
			}
		}
		.article_content_left_content_title{
			margin-bottom: 5px;
		}

		.article_content_right{
			background: #fff;
		}
	}
}




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	#article_content {
		border-top: 8px solid #D8001A;
		padding-top: 0;
		padding-bottom: 40px;

		.article_author {
		    margin-top: -117px;
			.article_author_top,
			.article_author_middle{
				width: 390px;
			}
			.article_author_footer{
				padding: 20px 0 20px 25px;
			}
		}
		.article_author_top{
			background: rgba(238, 238, 238, 0.9);
		}

		.article_content_area {
		    margin-top: -8px;
		    .article_content_left_content {
		    	.borde_link{
		    		width: auto;
	    		    right: 0;
	    		    transform: translate(0);
	    		    padding: 5px 25px 8px 25px;
		    	}
		    }
		}

		.article_author_middle{
			li{
				width: 33.33%;
				border-color: #D8001A;
				border-bottom: 0 !important;
				border-right: 0 !important;
			}
		}
	}
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	#article_content {
		padding: 0 0 100px;
		.article_author {
			.article_author_footer{
				p{
					margin-top: 0 !important;
					text-align: left !important;
					padding: 0 15px;
					font-size: 20px;
				}
			}
		}
		.article_author .article_author_top, 
		.article_author .article_author_middle{
			width: 500px;
		}

		.article_content_area {
			.article_content_left_header h2{
				font-size: 60px;
			}
			.article_content_right{
				padding-left: 50px;
			}

		    .article_content_left_content {
		    	.borde_link{
	    		    padding: 5px 35px 8px 35px;
		    	}
		    }

		}
		.article_content_left{
			position: relative;
			&:before{
				content: "";
			    position: absolute;
			    bottom: -6%;
			    left: -20%;
			    width: 180px;
			    height: 150px;
			    z-index: 10;
			    background: url(../images/leaf-png-38617.png) no-repeat;
			    background-size: cover;
			}
		}

		.article_content_right{
			&:before{
				display: none;
			}
		}
	}
}



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	#article_content {
		padding: 0 0 120px;

		.article_content_left_header{
		    margin-bottom: 30px;
		}
		.article_content_area .article_content_left_content p{
			margin-bottom: 30px;
		}

		.article_author {
			.article_author_top,
			.article_author_middle{
    			width: 600px;
			}
			.article_author_middle {
				ul {
					li{
					    padding: 50px;
					}
				}
			}

			.article_author_footer{
				padding-left: 50px;
				display: flex;
				align-items: center;
			}
		}

		.article_content_left{
			position: relative;
			&:before{
				bottom: -7%;
			    left: -30%;
			    width: 180px;
			    height: 150px;
			}
		}
	}
}