#footer_area{
    background: #EEEEEE;
    padding: 40px 0;

    .footer_menu_title{
        color: #D8001A;
        font-size: 16px;
        margin-bottom: 15px;
    }

    ul ul li{
        font-size: 16px;
        margin: 4px 0;
    }
    a{
        color: #8E8E8E;
        transition: 0.5s;
        &:hover{
            color: #D8001A;
        }
    }

    .footer_social_icon{
        background: #D8D8D8;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 15px;
        i{
            font-size: 15px;
            color: #fff;
        }
    }
    .footer_menu_list_social{
        li{
            margin-bottom: 12px;
        }
    }

    .copyright{
        padding-top: 20px;
        // padding-top: 50px;
        text-align: center;
        color: #D8001A;
    }
}




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #footer_area{
        .copyright{
            text-align: left;
        }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #footer_area{
        padding: 50px 0;

        .copyright{
            padding-top: 50px;
        }
    }
}